 <!-- By Robert Matteau -->
 <!-- Febuary 8th, 2017 -->
 <!-- Heruko Cloud Assignment-->

<!-- simple header and paragraph -->
 <h2 class="page-header">Home</h2>
 
<p>This page was going to handle viewing of video games from a database.</p>  